  </div> <!--.wrapper-->
</div> <!--.page-->

<div class="footer">
  <a href="http://placehold.it/" target="_blank">Your Company</a> file sharing.
</div>


<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script>

  $(document).ready(function(){

    var find_and_apply_ico = function($link, ico) {
      $img = $link.closest('tr').find('td:first-of-type() img');
      $img.attr('src', ico);
      $img.animate({opacity:1}, 800);
    }

    var set_ext_ico = function($link) {
      var extension = $link.text().substr( ($link.text().lastIndexOf('.') +1) );
      switch(extension) {
        case '7z': case 'bz2': case 'cab': case 'gz': case 'tar':
          find_and_apply_ico($link, '/theme/images/archive.png');
        break;
        case 'aac': case 'aif': case 'aifc': case 'aiff': case 'ape': case 'au': case 'flac': case 'iff': case 'm4a': case 'mid': case 'mp3': case 'mpa': case 'ra': case 'wav': case 'wma': case 'f4a': case 'f4b': case 'oga': case 'ogg': case 'xm': case 'it': case 's3m': case 'mod':
          find_and_apply_ico($link, '/theme/images/audio.png');
        break;
        case 'bin': case 'hex':
          find_and_apply_ico($link, '/theme/images/bin.png');
        break;
        case 'bmp':
          find_and_apply_ico($link, '/theme/images/bmp.png');
        break;
        case 'c':
          find_and_apply_ico($link, '/theme/images/c.png');
        break;
        case 'xlsx': case 'xlsm': case 'xltx': case 'xltm': case 'xlam': case 'xlr': case 'xls': case 'csv':
          find_and_apply_ico($link, '/theme/images/calc.png');
        break;
        case 'cpp':
          find_and_apply_ico($link, '/theme/images/cpp.png');
        break;
        case 'css': case 'sass': case 'scss':
          find_and_apply_ico($link, '/theme/images/css.png');
        break;
        case 'deb':
          find_and_apply_ico($link, '/theme/images/deb.png');
        break;
        case 'doc': case 'docx': case 'docm': case 'dot': case 'dotx': case 'dotm': case 'log': case 'msg': case 'odt': case 'pages': case 'rtf': case 'tex': case 'wpd': case 'wps':
          find_and_apply_ico($link, '/theme/images/doc.png');
        break;
        case 'svg': case 'svgz':
          find_and_apply_ico($link, '/theme/images/draw.png');
        break;
        case 'ai': case 'eps':
          find_and_apply_ico($link, '/theme/images/eps.png');
        break;
        case 'exe':
          find_and_apply_ico($link, '/theme/images/exe.png');
        break;
        case 'gif':
          find_and_apply_ico($link, '/theme/images/gif.png');
        break;
        case 'h':
          find_and_apply_ico($link, '/theme/images/h.png');
        break;
        case 'html': case 'xhtml': case 'shtml': case 'htm': case 'URL': case 'url':
          find_and_apply_ico($link, '/theme/images/html.png');
        break;
        case 'ico':
          find_and_apply_ico($link, '/theme/images/ico.png');
        break;
        case 'jar':
          find_and_apply_ico($link, '/theme/images/java.png');
        break;
        case 'jpg': case 'jpeg': case 'jpe':
          find_and_apply_ico($link, '/theme/images/jpg.png');
        break;
        case 'js': case 'json':
          find_and_apply_ico($link, '/theme/images/js.png');
        break;
        case 'md':
          find_and_apply_ico($link, '/theme/images/markdown.png');
        break;
        case 'pkg': case 'dmg':
          find_and_apply_ico($link, '/theme/images/package.png');
        break;
        case 'pdf':
          find_and_apply_ico($link, '/theme/images/pdf.png');
        break;
        case 'php': case 'phtml':
          find_and_apply_ico($link, '/theme/images/php.png');
        break;
        case 'm3u': case 'm3u8': case 'pls': case 'pls8':
          find_and_apply_ico($link, '/theme/images/playlist.png');
        break;
        case 'png':
          find_and_apply_ico($link, '/theme/images/png.png');
        break;
        case 'ps':
          find_and_apply_ico($link, '/theme/images/ps.png');
        break;
        case 'psd':
          find_and_apply_ico($link, '/theme/images/psd.png');
        break;
        case 'py':
          find_and_apply_ico($link, '/theme/images/py.png');
        break;
        case 'rar':
          find_and_apply_ico($link, '/theme/images/rar.png');
        break;
        case 'rb':
          find_and_apply_ico($link, '/theme/images/rb.png');
        break;
        case 'rpm':
          find_and_apply_ico($link, '/theme/images/rpm.png');
        break;
        case 'rss':
          find_and_apply_ico($link, '/theme/images/rss.png');
        break;
        case 'bat': case 'cmd': case 'sh':
          find_and_apply_ico($link, '/theme/images/script.png');
        break;
        case 'sql':
          find_and_apply_ico($link, '/theme/images/sql.png');
        break;
        case 'tiff': case 'tif':
          find_and_apply_ico($link, '/theme/images/tiff.png');
        break;
        case 'txt': case 'nfo':
          find_and_apply_ico($link, '/theme/images/text.png');
        break;
        case 'asf': case 'asx': case 'avi': case 'flv': case 'mkv': case 'mov': case 'mp4': case 'mpg': case 'rm': case 'srt': case 'swf': case 'vob': case 'wmv': case 'm4v': case 'f4v': case 'f4p': case 'ogv':
          find_and_apply_ico($link, '/theme/images/video.png');
        break;
        case 'xml':
          find_and_apply_ico($link, '/theme/images/xml.png');
        break;
        case 'zip':
          find_and_apply_ico($link, '/theme/images/zip.png');
        break;
        default:
          find_and_apply_ico($link, '/theme/images/default.png');
      }
    };

    if ( $("meta#index-page").length ) { // only run on list page
      document.getElementsByTagName('tr')[0].className = 'parent';

      $("table tr td:first-of-type() img").attr("src", "");

      $("table tr td:nth-of-type(2) a").each(function(){
        set_ext_ico($(this));
      });

      $.ajax({
          url: '?setup-password',
          success: function(data){
            if (data.status != 'good') {
              $(".needs-pass").show();
            }
          }
      });
    }

  });
</script>